import os
# Get rid of the /config at the end.
PROJECT_PATH = os.path.abspath(os.path.join(os.path.dirname(__file__), '.'))

# Logifile Location
PROJECT_LOGFILE = "%s/timesync.log" % PROJECT_PATH

# Enable/Disable debug output from flask
DEBUG = False

# Flask session key
SECRET_KEY = "secret key"

# Flask CSRF
CSRF_ENABLED = True
CSRF_SESSION_KEY = "your csrf session key"

# SQLAlchemy Databes location and options
DATABASE_CONNECT_OPTIONS = {}
SQLALCHEMY_DATABASE_URI = 'mysql://user:password@host/dbname'
SQLALCHEMY_MIGRATE_REPO = os.path.join(PROJECT_PATH, 'migrations')
